<footer class="footer">
  <div class="container">
      <div class="row d-flex justify-content-around">
      <div class="col-md-4 footer-section">
        <div class="copy">
          <p><strong>&copy; 2024 MICROCHAT</strong> </p>
        </div>
      </div>
      <div class="col-md-4 footer-section" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
          <h5>Universidad de las Fuerzas Armadas ESPE</h5>
          <p><strong>Aplicaciones Distribuidas</strong></p>
      </div>
      <div class="col-md-4 footer-section" style="text-align: center;">
          <h5 style="text-align: center;">Grupo 6</h5>
          <div class="social-links" style="display: flex; justify-content: center; padding-top: 10px;">
              <ul>
                <li> Díaz Adriana, Masacela Brandon</li>
                <li> Pila Johanna, Pilataxi Daniela</li>                
              </ul>
          </div>
      </div>
    </div>
  </div>
</footer>
