<div class="bg-color">
    <div class="row">
        <div class="col-md-3">
            <div class="img">
                <img src="assets/logoCHAT.png" style="width: 40%; height: auto;">
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="texto-cen">
                <h3>Que gusto tener aquí <b>{{user.name}}</b></h3>
            </div>
        </div>
        <div class="col-md-1">
            <button class="boton-salir btn btn-outline-primary" (click)="goBack()">SALIR</button>
        </div>
    </div>
</div>